{% extends './partials/base.html' %}

{% block content %}
<div class="row mt-4">
    <div class="col-lg-9">
        {% for article in articles %}
        <div class="card w-100 mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                {% if article.image %}
                    <img src="{{ article.image.url }}" alt="{{ article.image.url }}" width="100%">
                {% else %}
                    <img src="https://picsum.photos/seed/picsum/783/440" alt="">
                {% endif %}
                <div class="d-flex">
                    <p class="card-subtitle mb-2 text-muted mt-3">Дата публикации: {{ article.created_at|date:"Y-m-d"}}</p>
                    <p class="card-subtitle mb-2 text-muted mt-3 ml-3">Категория: {{ article.category }}</p>
                </div>
                <hr>
                {% autoescape off %}
                <p class="card-text mt-3">{{ article.content|truncatechars_html:150 }}</p>
                {% endautoescape %}
                <a href="{{ article.get_absolute_url }}" class="btn btn-primary">Читать дальше</a>
            </div>
        </div>
        {% empty %}
        <h4>Список статей пуст</h4>
        {% endfor %}
    </div>
    <div class="col-lg-3">
       {% include './partials/sidebar.html' with categories=categories %}
    </div>
</div>
{% endblock %}